<h3> Thanks for shopping at Mirror Boutique </h3>

<p> Your item will be shipped in no more than 3 days </p>
<b><a href="/logout">logout </a></b>

<p> forgot to buy something ? <b><a href="/welcome"> Shop </a></b> </p>

