<div class="container">
<h4 class="right #8d6e63 brown-text text-darken-1"> Thanks for shopping at Mirror Boutique </h4>

<p class="right #8d6e63 brown-text text-darken-1"> <i> Your item will be shipped in no more than 3 days </i> </p>
</div>
<br>

<br>


<br>



<br>


<br>

