<h1> Your Bag: </h1>
<form action='/yourbag' method="get">
<% @cci.map do |item|  %>
   <p><a href="/customer_items/<%= item.id %>"><%= item.name %></a> </p> 
     $<%= item.price %>
     
     <% end %>
     </form>

    
<b><a href="/checkout">checkout</a></b>
 <br>  
