<h1> Your Bag: </h1>

<form action='/yourbag' method="get">
<% @item = @cci.map {|ci| ci.item.name}.uniq.join(" , ") %>
<div>
<label for="items"> Items: </label> 
<%= @item %> 
</div>
<br>
<div>
<label for="total"> Total: </label>
<% @price = @cci.map {|ci| ci.item.price}.join(" , ").sum %>
<%= @price %>
</div>
<br>
<br>
<b><a href="/checkout">checkout</a></b>
</form>