<h5> hey.. wanna do a name change </p>



    <form action="/newname" method="post">
    <input  <input id="hidden" type="hidden" name="_method" value="patch">
    <label> New Name </label>
    <input type="text" name="current_customer[username]" id="current_customer.username" value="<%= @current_customer.username %>">
    <input type="submit" value="Change">
</form>
