</form><h1> add items & sell </h1>
<p> insturctions: name must be autentic :) </p>
<form action="/items" method="post">
<br>
<div>
<label> Item Name:</label>
<input type="text" id="name" name="item[name]" >
</div>
<br>
<div>
<label> Item Price:</label>
<input type="text" id="price" name="item[price]">
<br>
</div>
<br>
<div>
<input type="submit" value="Add Item" >
</div>


</form>