<h1> Welcome </h1>



<form action="/yourbag" method="post">
<b><label for="all items"> All items: </label></b>
<br>
<% @items.each do |item| %>


<br>
<input type="checkbox" name="customer[items][][added]" <p><a href="/items/<%= item.id %>"><%= item.name %></a> $<%= item.price %> </p>
<% end %>
    

    <input type="submit" value="Add to Bag">
  
    </form>
    

