<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>MirrorBtq</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <div>

    
<!-- NOTES '/' PAGE LOOKING WERID FIX IT -->
    </div>
            

  
  </head>
  <br>
<body class="#d7ccc8 brown lighten-4 z-depth-5">
<div class="container">
<nav class="#a1887f brown lighten-3"> 
<div class="container">
<ul class="left">
<% unless logged_in? %>

<li><a href="/login"> Login </a></li>  
<li><a href="/signup"> Signup </a></li> 
<li class="brand-logo"> Mirror Boutique </a><li>

<% else %>
<div class="conatainer">
<ul class="right" style="marign: 25px">
<li> <a href="/" class="brand-logo"> Mirror Boutique </a><li>
</ul>
</div>
<li> <a href="/" class="left"> Home </a><li>
<li><b><a href="/logout"> Logout </a><b></li>  
<li><b><a href="/yourbag"> View Your Bag </a></b></li>
<!-- <b><a href=<b><a href='/items/new'> Add Item & Sell </a></b> <br> -->

</div>
</ul>
</nav>
<nav class="#a1887f brown lighten-3">
<div class="right"> <p>Happy shopping, <%= current_customer.username %>!</p>
</nav>
</div>
<% end %>
  <!-- add error messages before this line -->
            <!-- main content -->
            <div class="#bcaaa4 brownlighten-4" >
                  <%= yield %>
             <!-- end main content -->



      <footer class="branding">
        <small>&copy; 2020 <strong>Mirror..Mirror on the wall</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>

<![endif]-->
  </body>
</html>
