<h1> login </h1>
<b> not a memeber? <a href="/signup"> signup </a></b> 


<br>-------

<form action="/login" method="POST">
<label for="username"> Enter Username: </label> 
<input type="text" id="username" name="username">
<label for="password"> Enter password: </label> 
<input type="password" id="password" name="password">
<input type="submit" id="submit" value="Login">
</form>
